.login-container {
  width: 30%;
  padding: 20px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  background-color: #070707;
  
  
}
.imageparentcontainer{
    width: 70%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    

}
.textcontainer{
    width: 70%;
    height: 100vh;
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    

}

.imagecontainer {
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1616616839679-eec174e9d429?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  position:absolute;
  inset: 0;
}
.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  height: 100vh;
  width: 100vw;
  color: #232323;
  background-color: #121212;
}
.topbanner{
    flex-direction: row;
    height: 60px;
    width: 100%;
    display: flex;
    margin-top: 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

}


.login-container h2 {
  text-align: center;
  font-size: larger;
  color: #ffffff;
}

.textcontainer h1 {
  text-align: center;
  font-size: 100px;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  
}

.login-container input {
  padding: 18px;
  font-size: 14px;
  border-radius: 12px;
  color: #ffffff;
  opacity: 0.28;
  text-indent: 30px;
  border-style: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #424242;
  
  
}

.login-container button {
  padding: 6px 15px;
            font-size: 12px;
            font-weight: 500;
            color: white;
            background: #ffffff1a;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 999px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;
            width: 200px;
            align-self: center;
}

.login-container button:hover {
  background-color: #1e40af;
}

.login-container h4{
    text-align: center;
    font-size: 14px;
    color: #5e5e5e;
    font-weight: lighter;
    margin-top: -20px;

}

.login-container h6{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    

}

.login-container h5{
    text-align: end;
    font-size: 10px;
    color: #5e5e5e;
    font-weight: lighter;
    font-style: oblique;
    text-decoration: underline;
    margin-top: -15px;

}
.login-container button.register {
            font-size: 10px;
            font-weight: 200;
            color: white;
            background: #ffffff1a;
            border: 1.5px solid rgba(255, 255, 255, 0.2);
            border-radius: 999px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.3s ease;
            overflow: hidden;
            width: 100px;
            
}
.login-container button.register:hover {
  background-color: #1e40af;
}
